<!DOCTYPE html>
<html ng-app="bienestar" >
  <head>
    

    
    <link rel="stylesheet" href="/javascripts/angular-material/angular-material.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/md-data-table.min.css' />
    <link rel="stylesheet" type="text/css" href="/javascripts/md-date-range-picker.css"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/jquery.min.js"></script>
    

  </head>
  <body ng-controller="controladorPrincipal" layout="column" class="ng-cloak">

<md-toolbar>
  <div layout="row" class="cabezera">
  <h1>Sistema de Gestión de Beneficios Estudiantiles</h1>
  
  <br>

<div flex>
<img src="/images/logodepartamento.png" alt="" height="100" width="160" class="logos">
<img src="/images/logoinstitucion.png" alt="" height="100" width="100" class="logos">
</div>  

</div> 
<div layout="row" class="cabezera">
<span>Bienvenido(a)  <%= data2.nombre %></span> 
</div>
<div class="nombres">

</div>
   </md-toolbar>
<md-divider></md-divider>


<div layout="row" flex>

<md-sidenav
class="md-sidenav-left 
md-whitef rame-z2 md-warn menubar" 
flex="15" 
md-is-locked-open='true'>          
<h2>Menú</h2><md-divider></md-divider>
<div layout="column">    
<md-button class="md-raised" ng-disabled="{{primeracceso}}"  flex href="#/"> Beneficios</md-button>
<md-button class="md-raised" ng-disabled='{{primeracceso}}' flex ng-show='seleccionador'>Panel de Control</md-button>
<md-button class="md-raised" ng-disabled='{{primeracceso}}' href="#estadisticas"flex>Estadísticas</md-button>
<md-button class="md-raised"  ng-disabled='{{primeracceso}}' ng-hide='nivel == 1 || nivel == 0'  href="#pcontrol" flex>Panel de Control</md-button>
<md-button class="md-raised"   ng-disabled='{{primeracceso}}' href="#expedientes" flex>Expediente Inactivos</md-button>
<md-button class="md-raised"   ng-disabled='{{primeracceso}}' href="#reportes" flex>Reportes</md-button>
<md-button class="md-raised"  ng-disabled='{{primeracceso}}' ng-hide='nivel == 3'  href="#perfil" flex>Perfil</md-button>
<md-button class="md-raised" ng-disabled='{{primeracceso}}' flex  ng-click="salir()">Salir</md-button>

</div>
</md-sidenav>

<script> 
x = "<%= data.nivel %>";
nombreGlobal = "<%= data2.nombre %>";


window.ide = "<%= data4.ide %>";


window.primeracceso = "<%= data3.logueo %>";


</script>
	
<div ui-view flex class="completo">
  

</div>







   


</div>
   



    
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.min.js"></script>
    <script src="/javascripts/angular-animate.min.js"></script>
    <script src="/javascripts/angular-aria.min.js"></script>
    <script src="/javascripts/angular-material/angular-material.js"></script>
    <script src="/javascripts/dirPagination.js"></script>
    <script src="/javascripts/md-data-table.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/md-date-range-picker.min.js"></script>
    <script src="/javascripts/modulos/reportes.js"></script>
    <script src="/javascripts/modulos/socialCritica/socialcritica.js"></script>
    <script src="/javascripts/modulos/academica/academica.js"></script>
    <script src="/javascripts/modulos/deporte/deporte.js"></script>
    <script src="/javascripts/modulos/discapacidad/discapacidad.js"></script>
    <script src="/javascripts/modulos/comedor/comedor.js"></script>
    <script src="/javascripts/modulos/panel/panel.js"></script>
    <script src="/javascripts/modulos/estadisticasGlobales.js"></script>
    <script src="/javascripts/modulos/preparaduria/preparaduria.js"></script>
    <script src="/javascripts/modulos/ayudantia/ayudantia.js"></script>
    <script src="/javascripts/pdfmake.min.js"></script>
    <script src="/javascripts/vfs_fonts.js"></script>
    <script src="/javascripts/chart.js"></script>
    <script src="/javascripts/angular-chart.min.js"></script>



  </body>
</html>
